.nav-bar {	
    height: 72px;	
    width: 1200px;
}

.logo {	
    height: 38px;	
    width: 80px;	
    color: #4B4B4B;	
    font-family: sans-serif;	
    font-size: 32px;	
    font-weight: bold;	
    line-height: 38px;
}